@import './_variable';
@import './_mixin';

//可以写一些公共样式
html,body{
  height:100%;
  width: 100%;
}
.block{
  position: absolute;
  top: 40px;
  left:30px;
  height: 26px;
  width:100px;
  .el-date-editor{
    width: 100%;
    border: 1px solid #0644b6;
    border-radius: 5px;
  }
  .el-input__inner{
    background: rgba(14,59,175,.5);
    border: none;
    color: #50a4f3;
    &::-webkit-input-placeholder {
      color: #50a4f3;
    }
  }
}
.el-picker-panel{
  background: rgba(4, 54, 181, 0.85);
  box-shadow: 0 0 5px rgba(0, 210, 255, 0.25);
  border:#0a61ff;
  color: #50a4f3;
}
.el-month-table td{
  padding: 10px 3px;
}
.el-month-table td .cell,.el-input__icon{
  color: #7ecdff;
  width:50px;
}
/*时间样式*/
.el-month-table td.current:not(.disabled) .cell{
  border-radius: 5px;
  background: #2761d4;
}
.el-month-table td .cell:hover{
  background: rgba(39,97,212,.5);
  border-radius: 5px;
}
.el-picker-panel__icon-btn:hover{
  color:#0786ed
}
/*分页样式*/
.pagination-wrap {
    margin: 20px 0;
    padding: 0 40px 0 30px;
}
.el-pager  {
    float: right;
    overflow: hidden;
    li{
        float: left;
        width: 38px;
        height: 38px;
        margin-right: 6px;
        line-height: 38px;
        border: 1px solid #0644b6;
        border-radius: 5px;
        background: rgba(14,59,175,0.1);
        font-size: 12px;
        color: #59abdf;
        text-align: center;
        cursor: pointer;
    }
    li:hover,li.active {
        border: 1px solid #003fb9;
        background: rgba(7,54,178,.5);
        color: #4a96ce;
    }
}
.el-pager li:last-child {
    border-right: 1px solid #0644b6;
}
.el-pager li.active+li {
    border-left: 1px solid #0644b6;
}
.el-pagination button, .el-pagination span {
    height: 38px;
    line-height: 38px;
    color: #55a3d8;
}
.el-pagination button.disabled {
    width: 38px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #0644b6;
    border-radius: 5px;
    background: rgba(14,59,175,0.1);
    i {
        display: block;
        font-size: 14px;
        color: #55a3d8;
    }
}
.el-pagination .btn-next,
.el-pagination .btn-prev {
    float: right;
    width: 38px;
    height: 38px;
    margin-left: 10px;
    line-height: 38px;
    border: 1px solid #0644b6;
    border-radius: 5px;
    background: rgba(14,59,175,0.1);
    i {
        display: block;
        font-size: 14px;
        color: #55a3d8;
    }
}
.el-pagination__total {
    float: right;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    font-size: 12px;
    color: #4382b7;
}
.el-pager li.btn-quicknext,
.el-pager li.btn-quickprev{
    line-height: 38px;
}
.el-pagination__editor {
    width: 38px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #0644b6;
    border-radius: 5px;
    background: rgba(14,59,175,0.1);
    font-size: 12px;
    color: #4382b7;
}
.el-pagination__jump {
    float: right;
    margin-top: -1px;
}
.el-pager li:hover {
    border: 1px solid #003fb9;
    background: rgba(7,54,178,.5);
    color: #4a96ce;
}